{% extends 'main_layout.html' %}
{% block content %}
   
    <div class="row">
        <div class="chat-input-container col-md-12">
            <div class="input-group">
                <input type="text" 
                    class="form-control" 
                    placeholder="Введите текст" 
                    aria-label="Recipient's username" 
                    aria-describedby="button-addon2"
                    id="chat-message-input">
                
                <button 
                    class="btn btn-primary" 
                    type="button" 
                    id="chat-message-send-button"
                    >
                    Отправить
                </button>
            </div>
        </div>
    </div>
    
    

    <div class="container-fluid chat-container">
        <div class="row">
            <div class="col-md-12 chat-message-container">
                <h2 class="text-md-start chat-message-parent">
                    <div class="chat-author">
                        Bekzat
                    </div>
                    <span class="chat-message">Привет, как дела?
                    <i class="badge chat-message-time">13:36</i></span>
                </h2>
                <h2 class="text-md-end">
                    <span class="chat-message chat-message-parent">Спасибо, очень хорошо. Сам как?
                    <i class="badge chat-message-time">13:37</i></span>
                </h2>
                
            </div>
        </div>
    </div>
{% endblock %}
