<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/mystyle.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/js/bootstrap.js"></script>
    <title>
        {% block title %}
            WAZZUP ЧАТ
        {% endblock %}
    </title>
</head>
<body>
    {% include 'header.html' %}
    <div class="app"></div>
        <div class="container-fluid" style="padding: 0">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>   
    <script src="/static/myscript.js"></script>
</body>
</html>